@charset "UTF-8";

*{margin: 0; padding: 0;}

#box{
    position: relative;
    margin: 0 auto;
}


.a h1{
    color: white;
    position: absolute;
    left: 30%;
    font-size: 70px;
    margin-top: 120px;
    transform: translateY(100px); 
    transition: all 3s; 
    opacity: 0;
}

#canvas {
    border: 1px soild black;
    position: absolute;
}

.a img{
    position: absolute;
    width: 350px;
    height: 500px;
    margin-top: 15%;
    left: 40%;
}

.b img{
    width: 300px;
    height: 300px;
    margin-top: 30%;
    position: absolute;
    left: 55%;
}
